<div class="b-vehicleContainer"
     infiniteScroll
     [infiniteScrollDistance]="2"
     [infiniteScrollThrottle]="50"
     (scrolled)="onScroll(true)">

  <div [routerLink]="['/vehicles', vehicle.id]" class="b-vehicle" *ngFor="let vehicle of vehicles">
    <div class="b-vehicleName">
      <h2>{{vehicle.name}}</h2>
    </div>
    <div class="b-vehiclePhotoContainer">
      <img class="b-vehiclePhoto" src="{{vehicle.img}}">
    </div>
  </div>

</div>
<div class="b-spinner">
  <ngx-spinner
    bdOpacity = 0.9
    bdColor = ""
    size = "default"
    color = "#ffffff"
    type = "ball-pulse-sync"
    [fullScreen] = "false"
  >
  </ngx-spinner>
</div>
