
<div class="b-planetContainer"
     infiniteScroll
     [infiniteScrollDistance]="2"
     [infiniteScrollThrottle]="50"
     (scrolled)="onScroll(true)">

  <div [routerLink]="['/planets', planet.id]" class="b-planet" *ngFor="let planet of planets">
    <div class="b-planetName">
      <h2>{{planet.name}}</h2>
    </div>
    <div class="b-planetPhotoContainer">
      <img class="b-planetPhoto" src="{{planet.img}}">
    </div>
  </div>

</div>
<div class="b-spinner">
  <ngx-spinner
    bdOpacity = 0.9
    bdColor = ""
    size = "default"
    color = "#ffffff"
    type = "ball-pulse-sync"
    [fullScreen] = "false"
  >
  </ngx-spinner>
</div>

