@import "./src/styles";
.b-img{
  width: 100%;
  height: calc(100vh - #{$height-header});
  object-fit: cover;
  object-position: center center;
}

@media screen and (max-width: 700px) {
  .b-img{
    height: 70vh;
  }
}
