<mat-sidenav-container class="b-sidenavContainer">
  <mat-sidenav #sidenav mode="over" position="end" class="b-sidenav">
    <div class="b-sidenavContent">
      <div class="b-sidenavOption">
        <h3>Search by title</h3>
        <div class="b-sidenavSearch">
          <input type="text" [(ngModel)]="filter" (ngModelChange)="onChangeFilter($event)" />
        </div>
      </div>
      <div class="b-sidenavOption">
        <h3>Film title</h3>
        <div class="b-sidenavFilters">
          <div class="b-sidenav__btn" (click)="orderByName()" [ngClass]="{'b-sidenav__btn--active': filterNameOrder && filterName}"><span><fa-icon [icon]="faSortAlphaDown"></fa-icon></span></div>
          <div class="b-sidenav__btn" (click)="orderByNameInverse()" [ngClass]="{'b-sidenav__btn--active': !filterNameOrder && filterName}"><span><fa-icon [icon]="faSortAlphaUp"></fa-icon></span></div>
        </div>
      </div>
    </div>
  </mat-sidenav>
  <div class="b-filterNav">
    <div class="b-filters">
      <div class="b-gridView"><span>View <fa-icon [icon]="faTh"></fa-icon></span></div>
      <div class="b-filters__icon" (click)="sidenav.open()"><span>Filters <fa-icon [icon]="faFilter"></fa-icon></span></div>
    </div>
  </div>
  <app-species-list (emitMessage)="onScroll($event)" [species]="species"></app-species-list>
</mat-sidenav-container>
