@import "./src/styles";

.b-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: $height-header;
  background-color: #000;
  .b-language{
    display: flex;
    position: absolute;
    right: 35px;
    top: 15px;
    a{
      margin: 5px;

    }
    img{
      cursor: pointer;
      width: 25px;
    }
  }
}
.b-logo {
  width: 150px;
  //margin-bottom: 15px;
}

.b-navbar{
  display: flex;
  .b-navbar__element{
    display: flex;
    padding: 15px;
    cursor: pointer;
    font-size: 1.5rem;
   &:hover{
     transition: 0.3s ease-in-out;
     text-shadow: 0 0 5px #02AEFF;
   }
  }
}


@media screen and (max-width: 700px) {
  .b-navbar{
    display: none;
  }

  .b-logo{
    width: 200px;
  }
}
