
<nav class="b-header">
  <div class="b-language">
    <a href="/login"><span>login</span></a><span>login</span>
    <a (click)="setLanguage('en')"><img src="assets/iconfinder_Flag_of_United_Kingdom_96354.png"></a>
    <a (click)="setLanguage('es')"><img src="assets/iconfinder_Flag_of_Spain_96317.png"></a>
  </div>
  <div class="b-logo">
    <a class="" role="button" routerLink="/"><img class="b-logo__link" src="../../../assets/Star_Wars_Yellow_Logo.svg" routerLink="/home" alt="Logo" /></a>
  </div>

  <ul class="b-navbar">
    <li><a class="b-navbar__element" role="button" routerLink="/characters">{{ 'MENU.CHARS' | translate }}</a></li>
    <li><a class="b-navbar__element" role="button" routerLink="/planets">{{ 'MENU.PLANETS' | translate }}</a></li>
    <li><a class="b-navbar__element" role="button" routerLink="/films">{{ 'MENU.FILMS' | translate }}</a></li>
    <li><a class="b-navbar__element" role="button" routerLink="/species">{{ 'MENU.SPECIES' | translate }}</a></li>
    <li><a class="b-navbar__element" role="button" routerLink="/vehicles">{{ 'MENU.VEHICLES' | translate }}</a></li>
    <li><a class="b-navbar__element" role="button" routerLink="/starships">{{ 'MENU.STARSHIPS' | translate }}</a></li>
  </ul>
</nav>

