<div class="b-starshipContainer"
     infiniteScroll
     [infiniteScrollDistance]="2"
     [infiniteScrollThrottle]="50"
     (scrolled)="onScroll(true)">

  <div [routerLink]="['/starships', starship.id]" class="b-starship" *ngFor="let starship of starships">
    <div class="b-starshipName">
      <h2>{{starship.name}}</h2>
    </div>
    <div class="b-starshipPhotoContainer">
      <img class="b-starshipPhoto" src="{{starship.img}}">
    </div>
  </div>

</div>
<div class="b-spinner">
  <ngx-spinner
    bdOpacity = 0.9
    bdColor = ""
    size = "default"
    color = "#ffffff"
    type = "ball-pulse-sync"
    [fullScreen] = "false"
  >
  </ngx-spinner>
</div>
