.b-starshipContainer{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  background-image: url("../../../../../assets/starwarsBackground.jpg");
  background-attachment: fixed;
  background-size: contain;
}
.b-starship{
  position: relative;
  .b-starshipName{
    //display: none;
    display: flex;
    position: absolute;
    bottom: 10px;
    text-shadow: 0 0 5px #222;
    color:white;
    flex-wrap: wrap;
    padding: 15px;
    text-align: center;
    h2{
      margin: 0;
    }
  }
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 400px;
  width: 20%;
  background-color: rgb(25,25,25,0.8);
  //border-radius: 3%;
  margin: 10px;
  &:hover{
    transition: 0.3s ease-in-out;
    box-shadow: 0 0 5px 5px #222;
    .b-starshipName{
      //display: flex;
      //transition: 0.5s ease-in-out;
      //text-shadow: 0 0 5px #1b9448;
      animation-duration: 0.75s;
      animation-name: slideIn;
      bottom: 25px;
    }
  }

  .b-starshipPhotoContainer{
    height: 100%;
    width: 100%;
    .b-starshipPhoto{
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
}

.b-spinner {
  position: fixed;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes slideIn{
  from {
    bottom: 10px;

  }

  to {
    bottom: 25px;

  }
}
