<div class="b-characterContainer">
  <div class="b-character">
    <div class="b-characterPhotoContainer">
        <img class="b-characterPhoto" src="{{char.img}}">
    </div>
    <div class="b-characterDetails">
      <div class="b-characterName">
        <h2>{{char.name}}</h2>
        <p>Height: {{char.height}}</p>
        <p>Mass: {{char.mass}}</p>
        <p>Hair color: {{char.hair_color}}</p>
        <p>Skin color: {{char.skin_color}}</p>
        <p>Eye color: {{char.eye_color}}</p>
        <p>Birth year: {{char.birth_year}}</p>
        <p>Gender: {{char.gender}}</p>
<!--        <p>Specie: {{char.species}}</p>-->
<!--        <p>Homeworld: {{char.homeworld}}-->
<!--        <p>Starships: {{char.starships}}-->
<!--        <p>Films: {{char.films}}-->
        <button class="b-characterBtn" (click)="showModalImage()">Change photo</button>
      </div>
    </div>
  </div>
  <app-modal-form-my-api [(showModal)]="showModal">
    <div class="modal-header">
      <h4>New photo</h4>
    </div>
    <div class="modal-body">
      <form [formGroup]="imgForm" (submit)="onSubmit()">

          <label for="url">URL:</label>
          <input type="text" id="url" formControlName="url" />
          <div class="error" *ngIf="!imgForm.get('url').valid && (imgForm.get('url').dirty || submitted)">
            Input Error
          </div>

        <button type="submit" [disabled]="!imgForm.valid">Enviar</button>
      </form>
    </div>
  </app-modal-form-my-api>
</div>
