@import "src/styles";
.b-characterContainer{
  display: flex;
  justify-content: center;
  width: 100vw;
  height: calc(100vh - #{$height-header});
  background-image: url("../../../../../../assets/starwarsBackground.jpg");
  background-size: contain;
}
.b-character{
  display: flex;
  flex-direction: row;
  height: calc(90vh - #{$height-header});
  width: 60vw;
  background-color: rgb(25,25,25,0.8);
  margin: 10px;
  padding: 5px;

  .b-characterDetails{
    width: 50%;
    padding: 15px;

    .b-characterName{
      color:white;
      p{
        font-size: 1.5rem;
      }
    }
  }

  .b-characterBtn{
    padding: 10px;
    background: #111;
    color: #fff;
    margin-top: 10px;
    border-color: #fff;
  }

  .b-characterPhotoContainer{
    width: 50%;
    padding: 5px;

    .b-characterPhoto{
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
}
