<div class="b-specieContainer"
     infiniteScroll
     [infiniteScrollDistance]="2"
     [infiniteScrollThrottle]="50"
     (scrolled)="onScroll(true)">

  <div [routerLink]="['/species', specie.id]" class="b-specie" *ngFor="let specie of species">
    <div class="b-specieName">
      <h2>{{specie.name}}</h2>
    </div>
    <div class="b-speciePhotoContainer">
      <img class="b-speciePhoto" src="{{specie.img}}">
    </div>
  </div>

</div>
<div class="b-spinner">
  <ngx-spinner
    bdOpacity = 0.9
    bdColor = ""
    size = "default"
    color = "#ffffff"
    type = "ball-pulse-sync"
    [fullScreen] = "false"
  >
  </ngx-spinner>
</div>
