@import "./src/styles";
.b-loginContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - #{$height-header});
  width: 100%;
  background-image: url("../../../../assets/starwarsBackground.jpg");
  background-attachment: fixed;
  background-size: contain;
}
