<meta name="viewport" content="width=device-width, initial-scale=1.0">
<mat-sidenav-container class="b-sidenavContainer">
  <mat-sidenav #sidenav mode="over" class="b-sidenav" [fixedInViewport]="true">
    <div class="b-sidenavContent">
      <div class="b-navbarMobile">
        <div class="b-hambur" (click)="sidenav.close()">
          <h2>X</h2>
        </div>
        <a class="b-navbarMobile__element" role="button" routerLink="/home">Home</a>
        <a class="b-navbarMobile__element" role="button" routerLink="/characters">Characters</a>
        <a class="b-navbarMobile__element" role="button" routerLink="/planets">Planets</a>
        <a class="b-navbarMobile__element" role="button" routerLink="/films">Films</a>
        <a class="b-navbarMobile__element" role="button" routerLink="/species">Species</a>
        <a class="b-navbarMobile__element" role="button" routerLink="/vehicles">Vehicles</a>
        <a class="b-navbarMobile__element" role="button" routerLink="/starships">Starships</a>
      </div>
    </div>
  </mat-sidenav>

    <div class="b-hambur" (click)="sidenav.open()">
      <img class="b-hambur__icon" src="./assets/hambur_white.png">
    </div>

<app-header></app-header>

<router-outlet></router-outlet>
</mat-sidenav-container>
<app-footer></app-footer>
