<div class="b-characterContainer"
     infiniteScroll
     [infiniteScrollDistance]="2"
     [infiniteScrollThrottle]="50"
     (scrolled)="onScroll(true)">

    <div [routerLink]="['/characters', char.id]" class="b-character" *ngFor="let char of chars">
      <div class="b-characterName">
        <h2>{{char.name}}</h2>
      </div>
      <div class="b-characterPhotoContainer">
        <img class="b-characterPhoto" src="{{char.img}}">
      </div>
    </div>

</div>
<div class="b-spinner">
  <ngx-spinner
    bdOpacity = 0.9
    bdColor = ""
    size = "default"
    color = "#ffffff"
    type = "ball-pulse-sync"
    [fullScreen] = "false"
  >
  </ngx-spinner>
</div>

