<div class="b-loginFormContainer">
  <form [formGroup]="loginForm" (submit)="onSubmit()">
    <div class="b-login__field">
      <label for="email">Email:</label>
      <input type="text" id="email" formControlName="email" />
      <div class="error" *ngIf="!loginForm.get('email').valid && (loginForm.get('email').dirty || submitted)">
        Input Error
      </div>
    </div>

    <div class="b-login__field">
    <label for="password">Password:</label>
      <input type="password" id="password" formControlName="password" />
      <div class="error" *ngIf="!loginForm.get('password').valid && (loginForm.get('password').dirty || submitted)">
        Input Error
      </div>
    </div>
    <div class="b-loginButton">
      <button class="b-loginButton__btn" type="submit" [disabled]="!loginForm.valid">Login</button>
    </div>

  </form>
</div>

