.b-loginFormContainer{
  display: flex;
  padding: 35px;

  background: white;
  .b-login__field{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin: 5px;
  }

  .b-loginButton{
    display: flex;
    justify-content: center;
    .b-loginButton__btn{
      padding: 5px;
      margin: 5px;
    }
  }
}
