
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$starwars-app-primary: mat-palette($mat-indigo);
$starwars-app-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$starwars-app-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$starwars-app-theme: mat-light-theme((
  color: (
    primary: $starwars-app-primary,
    accent: $starwars-app-accent,
    warn: $starwars-app-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($starwars-app-theme);

@import "styles/settings/_settings.colors";
@import "styles/settings/_settings.variable";
@import "styles/settings/_settings.fonts";

@import "styles/elements/_elements";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Tamaño del scroll */
*::-webkit-scrollbar {
  width: 10px;
}

/* Estilos barra (thumb) de scroll */
*::-webkit-scrollbar-thumb {
  background: #222;
  border-radius: 4px;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #222;
}

*::-webkit-scrollbar-thumb:hover {
  background: #222;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

/* Estilos track de scroll */
*::-webkit-scrollbar-track {
  background: #555;
  border-radius: 4px;
}

*::-webkit-scrollbar-track:hover,
*::-webkit-scrollbar-track:active {
  background: #555;
}


/*Sidenav*/
.b-filterNav{
  background: #000;
  display: flex;
  flex-direction: column;
  align-items: center;

  .b-filters{
    display: flex;
    justify-content: flex-end;
    width: 85%;
    .b-filters__icon{
      cursor: pointer;
      padding: 5px;
      margin: 0px 10px 0px 10px;
      span{
        color: #fff;
      }
    }
    .b-gridView{
      cursor: pointer;
      padding: 5px;
      margin: 0px 10px 0px 10px;
      span{
        color: #fff;
      }
    }
  }
}

.b-sidenavContainer{

  .b-sidenav{
    h3{
      margin: 0;
    }
    width: fit-content;
    height: fit-content;
    background: #222;
    padding: 15px;

    .b-sidenav__toolbar{
      background: #222;
      color: #fff;
    }

    .b-sidenavContent{
      color: #fff;

      .b-sidenavOption{
        //display: flex;
        margin-bottom: 15px;
      }

      .b-sidenavFilters{
        display: flex;
      }
    }

    .b-sidenav__btn{
      font-size: 16px;
      padding: 10px;
      width: fit-content;
      height: fit-content;
      background: #000;
      color: #fff;
      margin-right: 10px;
      cursor: pointer;
    }

    .b-sidenav__btn--active{
      border: 2px solid white;
    }
  }

}
.b-navbarMobile{
  display: flex;
  padding-top: 65px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: fit-content;
  width: 100%;
  color: #fff;
  z-index: 10;

  .b-navbarMobile__element{
    display: flex;
    flex-direction: column;
    padding: 15px;
    cursor: pointer;
    font-size: 1.5rem;
    margin-right: 20px;
    margin-left: 20px;
    &:hover{
      transition: 0.3s ease-in-out;
      text-shadow: 0 0 5px #02AEFF;
    }
  }
}

.b-hambur{
  display: none;
  position: absolute;
  top: 25px;
  left: 25px;
  width: 35px;
  height: 35px;
  cursor: pointer;
}
.b-hambur__icon{
  width: 100%;
}

@media screen and (max-width: 700px) {
  .b-hambur{
    display: flex;
  }
}
