<mat-sidenav-container class="b-sidenavContainer">
  <mat-sidenav #sidenav mode="over" position="end" class="b-sidenav">
    <div class="b-sidenavContent">
      <div class="b-sidenavOption">
        <h3>{{ 'filters.searchTitle' | translate }}</h3>
        <div class="b-sidenavSearch">
          <input type="text" [(ngModel)]="filter" (ngModelChange)="onChangeFilter($event)" />
        </div>
      </div>
      <div class="b-sidenavOption">
        <h3>{{ 'filters.title' | translate }}</h3>
        <div class="b-sidenavFilters">
          <div class="b-sidenav__btn" (click)="orderByName()" [ngClass]="{'b-sidenav__btn--active': filterNameOrder && filterName}"><span><fa-icon [icon]="faSortAlphaDown"></fa-icon></span></div>
          <div class="b-sidenav__btn" (click)="orderByNameInverse()" [ngClass]="{'b-sidenav__btn--active': !filterNameOrder && filterName}"><span><fa-icon [icon]="faSortAlphaUp"></fa-icon></span></div>
        </div>
      </div>
    </div>
  </mat-sidenav>
  <div class="b-filterNav">
    <div class="b-filters">
      <div class="b-gridView"><span>{{ 'filters.viewIcon' | translate }} <fa-icon [icon]="faTh"></fa-icon></span></div>
      <div class="b-filters__icon" (click)="sidenav.open()"><span>{{ 'filters.filtersIcon' | translate }} <fa-icon [icon]="faFilter"></fa-icon></span></div>
    </div>
  </div>
  <app-films-list (emitMessage)="onScroll($event)" [films]="films"></app-films-list>
</mat-sidenav-container>
