.b-filmContainer{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  background-image: url("../../../../../assets/starwarsBackground.jpg");
  background-attachment: fixed;
  background-size: contain;
}
.b-film{
  cursor: pointer;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 600px;
  width: 20%;
  //background-color: rgb(25,25,25,0.8);
  //border-radius: 3%;
  margin: 10px;
  //padding: 5px;
  &:hover{
    transition: 0.3s ease-in-out;
    box-shadow: 0 0 5px 5px #222;
    .b-filmName{
      display: flex;
      animation-duration: 0.75s;
      animation-name: slideIn;
      bottom: 25px;
    }
  }

  .b-filmName{
    display: none;
    position: absolute;
    bottom: 50%;
    color:white;
    text-align: center;
    padding: 15px;
    h2{
      font-size: 2rem;
      font-weight: bold;
      text-shadow: 0 0 5px #222;
    }
  }

  .b-filmPhoto{
    height: 100%;
    width: 100%;
    object-fit: cover;
    //margin: 10px;
  }
}

.b-spinner {
  position: fixed;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes slideIn{
  from {
    bottom: 10px;

  }

  to {
    bottom: 25px;

  }
}
