<div class="b-filmContainer"
     infiniteScroll
     [infiniteScrollDistance]="2"
     [infiniteScrollThrottle]="50"
     (scrolled)="onScroll(true)">

  <div [routerLink]="['/films', film.id]" class="b-film" *ngFor="let film of films">
    <div class="b-filmName"><h2>{{film.title}}</h2></div>
    <img class="b-filmPhoto" src="{{film.img}}">
  </div>

</div>
<div class="b-spinner">
  <ngx-spinner
    bdOpacity = 0.9
    bdColor = ""
    size = "default"
    color = "#ffffff"
    type = "ball-pulse-sync"
    [fullScreen] = "false"
  >
  </ngx-spinner>
</div>
